body {
  margin: 0;
  font-family: 'montserrat',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f0f0f0;
}

a, a:visited, a:active, a:link:active, a:visited:active{
  text-decoration: none;
  color: #FC9BE0;
  font-weight: 700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
